@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/*----------------------------------- GLOBAL SETTINGS -----------------------------------*/

:root {
  font-family: 'Inter', sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply 
    w-full
    text-primaryText  
    bg-background
  ;
}

section{
  background: radial-gradient(circle, rgba(22,20,65,0.2) 0%, rgba(5,4,27,1) 100%);
 @apply
  sm:px-[20%]
  px-6
  sm:py-[80px]
  py-[10px]
  ;
}
nav {
  @apply
  fixed
  w-full
  sm:px-[20%]
  px-6
  ;
}

footer {
  background: radial-gradient(circle, rgba(22,20,65,0.2) 0%, rgba(5,4,27,1) 100%);
 @apply
  sm:px-[20%]
  py-6
  px-6
  ;
}


/*------------------------------------------------------------------------------------*/
.navbar-up{
  transition: 0.5s;
  background-color: transparent;
  z-index: 10;
}
.navbar-down{
  z-index: 10;
  transition: 0.5s;
  @apply
  bg-background;
  /* backdrop-filter: blur(2px); */
  box-shadow:
  0px 0.6px 3.6px -6px rgba(0, 0, 0, 0.053),
  0px 1.4px 8.6px -6px rgba(0, 0, 0, 0.077),
  0px 2.6px 16.2px -6px rgba(0, 0, 0, 0.095),
  0px 4.7px 28.8px -6px rgba(0, 0, 0, 0.113);
}


.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #22e7ee 71.54%,
    #00d8ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-blue-gradient {
  transition: .5s;
  background: 
  linear-gradient(90deg, var(--c1, #00d8ff),
  var(--c2, #9dedf0) 51%, var(--c1, #00d8ff)) 
  var(--x, 0)/ 200%;
}

.bg-blue-gradient:hover{
  --x: 100%;
}

.bg-blue-gradient:active{
  transition: .2s;
  -webkit-box-shadow: inset 8px 8px 20px -14px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 8px 8px 20px -14px rgba(66, 68, 90, 1);
  box-shadow: inset 8px 8px 20px -14px rgba(66, 68, 90, 1);
}

.border-gradient {
  transition: .5s;
  position: relative;
	border: 5px solid transparent;
  @apply 
  bg-background;
  background-clip: padding-box;
  border-radius: 12px;
}
.border-gradient::after{
  transition: all .5s ease-in;
  content: '';
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  background: linear-gradient(to bottom right, #9dedf0, #00d8ff);
  z-index: -1;
  border-radius: 10px;
}

.border-gradient:hover::after{
  background: linear-gradient(to top right, #00d8ff, #9dedf0);
}

.flex-center{
  display:flex;
  justify-content: center;
  align-items: center;
}

.border-button {
  transition: .5s;
  background: -webkit-linear-gradient(45deg,#00d8ff, #9dedf0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-image: linear-gradient(90deg, #00d8ff, #9dedf0) 1;
}

/*-------------------- MENU BURGER --------------------*/
.sidebar {
  -webkit-animation: slide-top 0.7s ease-in-out both;
  animation: slide-top 0.7s ease-in-out both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
}
.sidebar-out {
  -webkit-animation: slide-out 0.7s ease-in-out both;
  animation: slide-out 0.7s ease-in-out both;
}

.bg-in {
  animation: background-in 0.7s;
  background-color:rgba(0, 0, 0, 0.8)
}

.bg-out {
  animation: background-out 0.7s;
  background-color:rgba(0, 0, 0, 0)
}

@keyframes background-in {
  0% {background-color:rgba(0, 0, 0, 0);}
  100% {background-color:rgba(0, 0, 0, 0.8);} 
}

@keyframes background-out {
  0% {background-color:rgba(0, 0, 0, 0.8);}
  100% {background-color:rgba(0, 0, 0, 0);} 
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  } 
}

 .menu_burger{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;

}

.menu_burger-btn {
  width: 30px;
  height: 2px;
  background-color: #7c7c7c;
  border-radius: 3px;
  transition: all .5s ease-in-out;
  z-index: 9999999999999999999999999;
}

.menu_burger-btn::before,
.menu_burger-btn::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #7c7c7c;
  border-radius: 3px;
  z-index: 999999999999999999999999999999;
  transition: all .5s ease-in-out;
}

.menu_burger-btn-fixed {
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 3px;
  transition: all .5s ease-in-out;
  z-index: 999999999999999999999999999999999;
}

.menu_burger-btn-fixed::before,
.menu_burger-btn-fixed::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 3px;
  z-index: 999999999999999999999999999999999;
  transition: all .5s ease-in-out;
}

.menu_burger-btn::before, .menu_burger-btn-fixed::before{
  transform: translateY(-8px);
}

.menu_burger-btn::after, .menu_burger-btn-fixed::after{
  transform: translateY(8px);
}

.menu_burger.open .menu_burger-btn-fixed{
  transform: translateX(-50px);
  background-color: transparent;
}

.menu_burger.open .menu_burger-btn-fixed::before{
  transform: rotate(45deg) translate(35px, -35px);
  background-color: #def9fa;
}

.menu_burger.open .menu_burger-btn-fixed::after{
  transform: rotate(-45deg) translate(35px, 35px);
  background-color: #def9fa;
}

.menu_burger.open .menu_burger-btn{
  transform: translateX(-50px);
  background-color: transparent;
}

.menu_burger.open .menu_burger-btn::before{
  transform: rotate(45deg) translate(35px, -35px);
  background-color: #def9fa;
}

.menu_burger.open .menu_burger-btn::after{
  transform: rotate(-45deg) translate(35px, 35px);
  background-color: #def9fa;
}
/*---------------------------------------------------*/

/*-------------------- PORTFOLIO --------------------*/
.portfolio-container {
  position: relative;
}

.portfolio-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.portfolio-desc {
  display: none;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio-container:hover .portfolio-image {
  opacity: 0.4;
}

.portfolio-container:hover .portfolio-desc {
  opacity: 1;
  display: inline;
}
/*----------------------------------------*/