@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/*----------------------------------- GLOBAL SETTINGS -----------------------------------*/

:root {
  font-family: 'Inter', sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply 
    w-full
    text-primaryText  
    bg-background
  ;
}

section {
 @apply
  xl:max-w-[1280px] 
  w-full
  sm:px-16
  px-6
  flex
  justify-between
  items-center
  ;
}


/*------------------------------------------------------------------------------------*/

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #22e7ee 71.54%,
    #00d8ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-blue-gradient {
  transition: .5s;
  background: 
  linear-gradient(90deg, var(--c1, #00d8ff),
  var(--c2, #9dedf0) 51%, var(--c1, #00d8ff)) 
  var(--x, 0)/ 200%;
}

.bg-blue-gradient:hover{
  --x: 100%;
}

.bg-blue-gradient:active{
  transition: .2s;
  -webkit-box-shadow: inset 8px 8px 20px -14px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 8px 8px 20px -14px rgba(66, 68, 90, 1);
  box-shadow: inset 8px 8px 20px -14px rgba(66, 68, 90, 1);
}

.border-gradient {
  transition: .5s;
  position: relative;
	border: 5px solid transparent;
  @apply 
  bg-background;
  background-clip: padding-box;
  border-radius: 12px;
}
.border-gradient::after{
  transition: all .5s ease-in;
  content: '';
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  background: linear-gradient(to bottom right, #9dedf0, #00d8ff);
  z-index: -1;
  border-radius: 10px;
}

.border-gradient:hover::after{
  background: linear-gradient(to top right, #00d8ff, #9dedf0);
}

.flex-center{
  display:flex;
  justify-content: center;
  align-items: center;
}

.border-button {
  transition: .5s;
  background: -webkit-linear-gradient(45deg,#00d8ff, #9dedf0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-image: linear-gradient(90deg, #00d8ff, #9dedf0) 1;
}